<div class="row">
  <div class="small-4 medium-2 columns">
    <%= image_tag(user.image, class:'profile small') %>
  </div>

  <div class="small-8 medium-10 columns">
    <b><%= user.full_name %></b>
    <ul class="no-bullets">
      <li>Joined on <%= user.created_at.strftime('%D') %></li>
      <li>Last logged in on <%= user.last_login_at.strftime('%D') if user.last_login_at %></li>
      <li>Subscribed to  <%= user.subscriptions.count %> stories</li>
    </ul>
  </div>

</div>
