<div class="row">
  <div class="small-12 columns panel">

<h3>What next?</h3>

<p>Voting ends at midnight on <%= @chapter.vote_ends_on.strftime('%D') %></p>

<% unless @allow_voting %>

  <p>You have either already voted or voting has closed for this chapter</p>
  <%= raw(@call_to_action.chart) %>
<% else %>

<%= form_tag :vote_for_action do %>
  <%= hidden_field_tag :chapter_id, @chapter.id %>
  <ul class="no-bullet">

    <% @chapter.actions.each do | action | %>
      <label>
        <li>
          <%= radio_button_tag :action_id, action.id %>
          <%= action.content %>
        </li>
      </label>
    <% end %>
  </ul>
    <p><%= submit_tag 'Vote Now!',  class: 'button success radius' %></p>
  <% end %>
<% end -%>

</div>
</div>
