


<div class="row collapse">

  <div class="small-12 columns text-right">

      <%= link_to( raw(" #{fa_icon('angle-double-left')} Previous"), read_chapter_path(@steps[:prev]), class: 'button tiny secondary success ') if local_assigns.fetch(:links, []).include?('previous') && @steps[:prev] %>
      <%= link_to( raw("#{fa_icon('mail-reply')} About this Story"), about_story_path, class: 'button tiny secondary ') if local_assigns.fetch(:links, []).include?('about') %>
      <%= link_to( raw("#{fa_icon('mail-reply')} Back to Story"), story_path, class: 'button tiny secondary ') if local_assigns.fetch(:links, []).include?('back') %>
      <%= link_to( raw(" #{fa_icon('leanpub')} Switch Story"), choose_story_path, class: 'button tiny secondary ') if local_assigns.fetch(:links, []).include?('switch') %>
      <%= link_to( raw("Next #{fa_icon('angle-double-right')}"), read_chapter_path(@steps[:next]), class: 'button tiny secondary success ') if local_assigns.fetch(:links, []).include?('next')  && @steps[:next] %>


  </div>


</div>
