


<div class="row collapse">
  <div class="small-12 medium-12 columns">
    <h2><%= local_assigns.fetch(:title, "") %></<h2>
  </div>

  <div class="small-12 medium-8 columns">
    <%= simple_format(@current_story.teaser) if @current_story %>
  </div>

  <div class="small-12 medium-4 columns text-right">
    <ul class="inline-list right pad-top">
      <li><%= link_to( raw("#{fa_icon('mail-reply')} About this Story"), about_story_path, class: 'button tiny secondary') if local_assigns.fetch(:links, []).include?('about') %></li>
      <li><%= link_to( raw("#{fa_icon('mail-reply')} Back to Story"), story_path, class: 'button tiny secondary') if local_assigns.fetch(:links, []).include?('back') %></li>
      <li><%= link_to( raw(" #{fa_icon('leanpub')} Switch Story"), choose_story_path, class: 'button tiny secondary') if local_assigns.fetch(:links, []).include?('switch') %></li>
    </ul>
  </div>


</div>
