<h2><%= @chapter.story %></h2>

<%= render partial: 'nav',  locals: {title: "Chapter #{@chapter.number}: #{@chapter.title}", links: %w(back switch)} %>

<div class="row">
  <div class="small-12 medium-12 columns">
    <%= raw(@chapter.content) %>
  </div>


<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>What Next?</h3>
    <%= render 'action_form' %>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Comments</h3>
    <%= render 'comments' %>
  </div>
</div>
