<h2><%= @chapter.story %></h2>

<%= render partial: 'nav',  locals: {title: "Chapter #{@chapter.number}: #{@chapter.title}", links: %w(back switch)} %>

<div class="row">
  <div class="small-12 medium-12 columns">
    <%= raw(@chapter.content) %>
  </div>
</div>

<%= render partial: 'links',  locals: {links: %w( next previous)} %>

<div class="row">

  <div class="small-12 medium-6 columns">
    <% if @chapter.story.completed? %>
      <%= render 'final_chapter' %>
    <% else %>
      <%= render 'action_form' %>
    <% end %>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Comments</h3>
    <%= render 'comments' %>
  </div>
</div>
