<div class="row collapse">
  <div class="small-12 medium-7 large-8 columns">
    <h1><%= @chapter.story.name %></h1>
  </div>
  <div class="small-12 medium-5 large-4 columns text-right">
      <p><%= render partial: 'nav_links',  locals: { links: %w(back switch link)} %></p>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2><%= @chapter.title %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <%= raw(@chapter.content) %>
  </div>
</div>

<%= render partial: 'links',  locals: {links: %w( next previous)} %>

<div class="row">

  <div class="small-12 medium-6 columns">
    <% if @chapter.story.completed? %>
      <%= render 'final_chapter' %>
    <% else %>
      <%= render 'action_form' %>
    <% end %>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Comments</h3>
    <%= render 'comments' %>
  </div>
</div>
