<%= form_for([:manage, @story]) do |f| %>
  <% if @story.errors.any? %>
  <div class="row error-messages">
    <div class="small-12 columns medium-10 medium-offset-2">
      <div class="errors">
        <h3><%= pluralize(@story.errors.count, "problem") %> with submission:</h3>
        <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :name %>
    </div>
    <div class="small-12 medium-10 columns">
    <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :teaser %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.text_area :teaser %>
      <p class="input-hint">A Short description of why your story will be awesome</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :about %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.cktext_area :about, :ckeditor => {:toolbar => 'mini'} %>
      <p class="ckedit-hint">Populates a long form page for you to use however you like</p>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    </div>
    <% if @story.persisted? %>
        <div class="small-12 medium-10 columns">
        <%= f.check_box :active %>
        <%= f.label :active, "This story is currently active" %>
        </div>

    <% end %>
  </div>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    </div>
        <div class="small-12 medium-10 columns">
        <%= f.check_box :alert_on_vote %>
        <%= f.label :alert_on_vote, "Send me emails everytime someone votes" %>
        </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :taxonomy %>
    </div>
    <div class="small-8 medium-4 columns">
      <%= f.text_area :taxonomy, cols: 30, rows: 10 %>
    </div>

    <div class="small-4 medium-6 columns end">
    <p class="hint">You can name certain ascpects of your story your own specific names. You can add them, one pair per each line. You can change the second
    term to reflect what you are wanting to appear.</p>
    <pre>
      user:citizen
      story:tail
      chapter:episode
    </pre>
    </div>
  </div>

  <% if @active_user.super_user? && false == true %>
    <div class="row">
      <div class="small-12 medium-2 medium-text-right columns">
        <%= label_tag :author %>
      </div>
      <div class="small-12 medium-4 columns end">
        <%= collection_select :author, :author_id, @users, :id, :to_s, prompt: "Select a user to be author" %>
      </div>
    </div>
  <% end %>

  <% unless @story.persisted? %>
    <div class="row">
      <div class="small-4 medium-2 columns medium-text-right">
      <%= label_tag "Invite Code" %>
      </div>
      <div class="small-8 medium-4 columns end">
        <%= text_field_tag :invite_code %>
        <p class="input-hint">For now, to create a new story, you need an invite code. Contact someone in the know if interested</p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-10 medium-offset-2 columns">
    <%= f.submit class: "button" %>
    <%= link_to 'Back', manage_stories_path, class: "button secondary" %>
    </div>
  </div>

<% end %>
