<%= form_for([:manage, @story]) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :name %>
    </div>
    <div class="small-12 medium-10 columns">
    <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">


    </div>
    <div class="small-12 medium-10 columns">
    <%= f.check_box :active %>
    <%= f.label :active, "this story is currently active" %>

    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :taxonomy %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.text_area :taxonomy %>
    </div>
  </div>

  <% if @active_user.super_user? %>
    <div class="row">
      <div class="small-12 medium-2 medium-text-right columns">
        <%= label_tag :author %>
      </div>
      <div class="small-12 medium-10 columns">
        <%= collection_select :author, :author_id, @users, :id, :to_s, prompt: "Select a user to be author" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns"></div>
    <div class="small-12 medium-10 columns">
    <%= f.submit %>
    <%= link_to 'Back', manage_stories_path %>

    </div>
  </div>

<% end %>
