<%= form_for([:manage, @story]) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :name %>
    </div>
    <div class="small-12 medium-10 columns">
    <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :about %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.cktext_area :about, :ckeditor => {:toolbar => 'mini'} %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    </div>
    <% if @story.persisted? %>
        <div class="small-12 medium-10 columns">
        <%= f.check_box :active %>
        <%= f.label :active, "this story is currently active" %>
        </div>

    <% end %>
  </div>
  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :taxonomy %>
    </div>
    <div class="small-8 medium-4 columns">
      <%= f.text_area :taxonomy, cols: 30, rows: 10 %>
    </div>

    <div class="small-4 medium-6 columns end">
    <p class="hint">You can name certain ascpects of your story your own specific names. You can add them, one pair per each line. You can change the second
    term to reflect what you are wanting to appear.</p>
    <pre>
      user:citizen
      story:tail
      chapter:episode
    </pre>
    </div>
  </div>

  <% if @active_user.super_user? && false == true %>
    <div class="row">
      <div class="small-12 medium-2 medium-text-right columns">
        <%= label_tag :author %>
      </div>
      <div class="small-12 medium-4 columns end">
        <%= collection_select :author, :author_id, @users, :id, :to_s, prompt: "Select a user to be author" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-4 medium-2 columns medium-text-right">
    <%= label_tag "Invite Code" %>
    </div>
    <div class="small-8 medium-4 columns end">
      <%= text_field_tag :invite_code %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-10 medium-offset-2 columns">
    <%= f.submit class: "button" %>
    <%= link_to 'Back', manage_stories_path, class: "button secondary" %>
    </div>
  </div>

<% end %>
