<div class="story">

  <div class="row title collapse">
    <div class="small-12 medium-12 columns">
      <h3><%= story.name %></h3>
    </div>
  </div>

  <% if defined? :tools %>
  <div class="row actions collapse">
    <div class="small-12 columns text-right">
      <ul class="inline-list right">
        <li><%= link_to raw("#{fa_icon('pencil')} Write"), new_manage_story_chapter_path(story) %></li>
        <li><%= link_to raw("#{fa_icon('clone')} View"), manage_story_chapters_path(story) %></li>
        <li><%= link_to raw("#{fa_icon('edit 1x')} Edit"), edit_manage_story_path(story) %></li>
        <li><%= link_to raw("#{fa_icon('trash 1x')} Delete"), edit_manage_story_path(story) %></li>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <ul class="no-bullets" >
        <li>Active? <%= story.active %></li>
        <li>Subscribers: <%= story.users.count %></li>
        <li>Chapter Count: <%= link_to story.chapters.count,  manage_story_chapters_path(story) %></li>
      </ul>
    </div>

    <div class="small-6 columns">
      <% unless story.taxonomy.blank? %>
        <strong>Taxonomy:</strong>
        <%= story.taxonomy %>
      <% end %>
    </div>

  </div>

</div>
