<div class="story">

  <div class="row title collapse">
    <div class="small-12 medium-12 columns">
      <h3><%= story.name %></h3>
    </div>
  </div>

  <% if local_assigns.fetch(:tools, false) %>
    <div class="row">
      <div class="small-12 medium-6 columns ">
        <h4>Actions</h4>
        <ul class="small-block-grid-2 medium-block-grid-4">
          <li><%= link_to raw("#{fa_icon('pencil')} Write"), new_manage_story_chapter_path(story) %></li>
          <li><%= link_to raw("#{fa_icon('clone')} View"), manage_story_path(story) %></li>
          <li><%= link_to raw("#{fa_icon('edit 1x')} Edit"), edit_manage_story_path(story) %></li>
          <li><%= link_to raw("#{fa_icon('trash 1x')} Delete"), manage_story_path(story), method: :delete, data: { confirm: 'This will permanently delete your story, chapters and all votes. Are you sure?' } %></li>
        </ul>
      </div>

      <div class="small-12 medium-6 columns ">
        <h4>Current Stats</h4>
        <ul class="small-block-grid-2 medium-block-grid-3">
          <li class="stat">Active? <%= story.active? ? "Yes" : "No" %></li>
          <li class="stat">Subscribers: <%= link_to story.users.count,  subscribers_manage_story_path(story) %></li>
          <li class="stat">Chapters: <%= link_to story.chapters.count,  manage_story_chapters_path(story) %></li>
        </ul>
      </div>
    </div>
  <% end %>

<% if local_assigns.fetch(:expanded, false) %>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <h3>Chapters</h3>
            <ul class="no-bullets">
            <% story.chapters.each do | chapter | %>
              <li>
                <h4><%= link_to "#{chapter.number} #{chapter.title}", manage_story_chapter_path(story, chapter) %></h4>
                <p class="text-right">
                  <%= link_to raw("#{fa_icon('pencil')} Edit")  , edit_manage_story_chapter_path(story, chapter) %>
                  &nbsp;&nbsp;
                  <%= link_to raw("#{fa_icon('trash 1x')} Delete"), manage_story_chapter_path(story, chapter), method: :delete, data: { confirm: 'This will permanently delete this chapter and all votes. Are you sure?' }  %>
                  <%# link_to fa_icon('plus')  , new_manage_story_chapter_path(story) %>
                </p>
              </li>
            <% end -%>
            </ul>

            <p class="text-right"><%= link_to "Write a new chapter...", new_manage_story_chapter_path(story), class: 'button tiny radius expand success' %></p>
        </div>

        <div class="small-12 medium-6 columns">
          <h3>Subscribers</h3>
          <ul class="no-bullets">
            <% story.users.each do | subscriber | %>
              <li>
                <p><%= image_tag subscriber.image, class: 'profile-image' %> <%= subscriber.full_name %></li></p>
            <% end -%>
          </ul>
        </div>
      </div>
  <% end %>
</div>
