<h1>All Stories</h1>

<table class="display full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Chapter</th>
      <th>Subscribers</th>
      <th>Created On</th>
      <th>Created By</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td>
        <%= link_to story.name, manage_story_path(story) %></td>
        <td><%= fa_icon('check', class: 'green') if story.active? %></td>

        <td><%= story.chapters.count %></td>
        <td><%= story.subscriptions.count %></td>

        <td><%= story.created_at.strftime('%D') %></td>
        <td><%= story.user %></td>
        <td>
          <%= link_to raw("#{fa_icon('edit')} Edit"), edit_manage_story_path(story) %>
          <%= link_to raw("#{fa_icon('trash')} Delete"), manage_story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
