<fieldset>
  <legend>Calls to Action</legend>

  <div class="row">
    <div class="small-12 medium-offset-2 medium-10 columns">
      <%= check_box_tag :story_is_complete, 1, @story.completed?, id: 'complete-story' %>
      <%= label_tag :story_is_complete, "This is the Final Chapter", for: 'complete-story' %>
    </div>
  </div>

<div id="action-fields">
  <% @chapter.actions.each  do | action | %>
  <div>
    <div class="small-12 medium-10 medium-offset-2 columns">
        Action:
          <%= text_field_tag "calls_to_action[]", action.content  %>
          <%= hidden_field_tag "calls_to_action_ids[]", action.id  %>
    </div>
  </div>
  <% end -%>


  <% (6 - @chapter.actions.count).times do | cai | %>
    <div>
      <div class="small-12 medium-10 medium-offset-2 columns">
          New Action: <%= text_field_tag "new_calls_to_action[]"  %>
      </div>
    </div>
  <% end -%>
</div>

</fieldset>
