
<div class = "chapter">

<div class="row">
  <div class="small-12 columns">
  <h3>
    <span class="chapter-number"><%= @chapter.number %>: </span>
    <%= @chapter.title %>
  </h3>

  by <%= @chapter.author.full_name %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= @chapter.content %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"></div>
</div>

</div>

<p>
  Published on <%= @chapter.published_on %>
</p>

<p>
Story: <%= @chapter.story %>
</p>

<%= link_to 'Edit', edit_manage_chapter_path(@chapter) %> |
<%= link_to 'Back', manage_chapters_path %>
