
<div class = "chapter">

<div class="row">
  <div class="small-12 columns">
  <h2><%= chapter.story.name %></h2>
  <h3>
    <span class="chapter-number">Chapter <%= chapter.number %>: </span>
    <%= chapter.title %>
  </h3>
  </div>
</div>




  <div class="row actions collapse" >
    <div class="small-12 columns text-right">
      <%= link_to raw(" #{fa_icon('edit')} Edit"), edit_manage_story_chapter_path(chapter.story, chapter), class: 'button no-pad tiny radius' %>
      <%= link_to raw(" #{fa_icon('mail-reply')} Back"), manage_story_chapters_path(chapter.story), class: 'button no-pad secondary tiny radius' %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 columns">
      by <%= chapter.author.full_name %>
    </div>
  </div>



<div class="row">
  <div class="small-12 columns">
    <%=raw chapter.content %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"></div>
</div>

</div>

<p>
  Published on <%= chapter.published_on %>
</p>


<!--
<p>There are <%= chapter.call_to_action.actions.count %> actions. Voting will close on <%= chapter.vote_ends_on.strftime('%D') %> at midnight.
<ol>
  <% chapter.call_to_action.actions.each do | cal | %>
    <li><%= cal.content %></li>
  <% end %>
</ol>
-->
