
<div class = "chapter">

<div class="row">
  <div class="small-12 columns">
  <h3>
    <span class="chapter-number">Chapter <%= chapter.number || '1' %>: </span>
    <%= chapter.title %>
  </h3>

  by <%= chapter.author %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p class="excerpt"><%=raw truncate(chapter.content, length: 250) %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>Published on <%= chapter.published_on %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-right">
    <%# link_to "#{fa_icon('edit 2x')} Edit", edit_manage_story_chapter_path(chapter.story, chapter) %>
    <%=raw edit_icon_link(edit_manage_story_chapter_path(chapter.story, chapter)) %>
    <%=raw back_icon_link(manage_story_chapters_path(chapter.story)) %>
    <%=raw delete_icon_link(manage_story_chapter_path(chapter.story, chapter)) %>
  </div>
</div>

</div>

