
<%= form_for([:manage, @story, @chapter]) do |f| %>
  <% if @chapter.errors.any? %>


    <div class="row error-messages">
      <div class="small-12 columns medium-10 medium-offset-2">
        <div class="errors">
          <h3><%= pluralize(@chapter.errors.count, "problem") %> with submission:</h3>
          <ul>
          <% @chapter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

<% if @chapter.persisted? %>
  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :number %>
    </div>
    <div class="small-2 medium-1 columns end">
    <%= f.text_field :number %>
    </div>
  </div>
<% end -%>


  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :title %>
    </div>
    <div class="small-12 medium-10 columns">
    <%= f.text_field :title %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :teaser %>
    </div>
    <div class="small-12 medium-10 columns">
    <%= f.text_field :teaser %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    <%= f.label :content %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.cktext_area :content, :ckeditor => {:toolbar => 'mini'} %>
    </div>
  </div>


  <div class="row">

      <div class="small-2 medium-4 medium-offset-2 columns">
        <%= check_box_tag :publish, 1,  @chapter.published_on.present? %>
        <%= label_tag :publish, "Publish this chapter" %>
      </div>




      <div id="published_on_container">
        <div class="small-4 medium-2 columns text-right">
          <%= f.label :vote_end_date, "Voting ends after:" %>
        </div>
        <div class="small-2 medium-4 columns">
          <%= f.select :voting_ends_after, options_for_select(@vote_end_options.collect {|p| [p,p] }, @chapter.voting_ends_after), {}, {disabled: @chapter.published? ? true : false} %>

        </div>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 columns medium-text-right">
    </div>
    <div class="small-12 medium-10 columns">
    </div>
  </div>


  <%= render 'actions_form' %>

  <div class="row">
    <div class="small-12 medium-10 medium-offset-2 columns">
    <%= f.submit class: 'button' %>
    <%= link_to 'Back', manage_story_chapters_path, class: 'button secondary' %>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    //console.log($('input#publish'))
    $('input#publish').on('change', function(){
      //alert('change')
      if ( $('input#publish').is(':checked') ){
        var d = new Date();
        date_string =  d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate()
        console.log(date_string)
        $('#chapter_published_on').attr('valueAsDate', date_string)
        $('#published_on_container').show()
        console.log($('#chapter_published_on'))
      }
      else{
        console.log($('#chapter_published_on').val())
        $('#published_on_container').hide()
        $('#chapter_published_on').val('')
      }
    })
  })
</script>
