<h1>Voting has completed</h1>
<p>All subscribers of '<%= @chapter.story.name %>' have voted for chapter  '<%= @chapter.title %>'.</p>
<p>View the stats at http://whatnext.arpcentral.net/manage/stories/<%= @chapter.story.permalink %>/chapters/<%= @chapter.id %>
 or begin writing a new chapter at http://whatnext.arpcentral.net/manage/stories/<%= @chapter.story.permalink %>/chapters/new</p>
