<div class="row">
  <div class="small-12 columns">
      <h2>Welcome <%= @user.first_name %>!</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-8 columns">

      <div class="row">
          <div class="small-12 columns">
            <%= render 'profile' %>
          </div>
        </div>

      <div class="row">
        <div class="small-12 columns">
          <h3>Your Stories</h3>
          <%= render 'authored_stories' %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns text-center expanded">
          <%= link_to raw("#{fa_icon('pencil 3x')}Create a new story"), new_manage_story_path, class: 'button success large radius' %>
        </div>
      </div>

  </div>

  <div class="small-12 medium-4 columns">

    <h3>Subscribed Stories</h3>
      <%= render 'subscribed_stories' %>
    <% unless @available_stories.empty? %>
      <h3>Available Stories</h3>
          <% @available_stories.each do  | story | %>
              <%= render partial: 'account/subscriptions/subscribe_form', locals: {story: story} %>
          <% end %>
      <% end -%>

  </div>

</div>
