<h2>Login</h2>

<div class="row">
  <div class="small-12 columns text-center">
    <p>Join in the fun by login in using one of the following providers!</p>
    <p>By loging in, you will be able to start following stories and joining in the voting process that
    determines how the story will unfold. So much power!</p>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-4 medium-offset-2 columns text-center">
    <%= link_to image_tag('login-google.png', class: "login"), "/auth/google" %>
  </div>

  <div class="small-12 medium-4 columns text-center end">
    <%= link_to image_tag('login-facebook.png', class: "login"), "/auth/facebook" %>
  </div>

</div>
<!--
<%= form_tag process_login_path  do %>
  <div class="row collapse">
    <div class="small-11 small-offset-1 medium-2 columns medium-text-right inline">
      <%= label_tag :email, "Email", class: "inline" %>
    </div>
    <div class="small-7 small-offset-1 medium-4 columns inline">
      <%= text_field_tag :email %>
    </div>
    <div class="small-2 medium-2 columns end">
      <%= button_tag :login, class: 'button postfix' %>
    </div>
  </div>
<% end %>
-->
