<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="sortable">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Actvity Level</th>
      <th>Total Votes</th>
      <th>Subscribed</th>
      <th>Authored </th>
      <th>Super User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.image, class:'profile tiny') %></td>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.activity_level %></td>
        <td><%= user.votes.count %></td>
        <td><%= user.subscriptions.count %></td>
        <td><%= user.authored_stories.count %></td>
        <td><%= user.super_user %></td>
        <td><%= link_to 'Show', manage_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_manage_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
