<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <% if @user.super_user? %>
    <p>This user is a super user</p>
  <% end %>

<%= link_to 'Edit', edit_manage_user_path(@user) %> |
<%= link_to 'Back', manage_users_path %>
