<div class="subscription_form">

<%= form_tag account_add_subscription_path do %>
  <%= hidden_field_tag :story_id, story.id %>

  <div class="row collapse">
    <div class="small-10 columns">
      <p class="story-title"><%= story %></p>
    </div>
    <div class="small-2 columns">
      <span class="show-subscribe button tiny success radius"><%= fa_icon('angle-double-down') %></span>
    </div>
  </div>


    <div class="row hidden toggable collapse">

      <div class="small-8 columns ">
        <%= text_field_tag :username, "", placeholder: 'Join story with username', class: 'postfix' %>
      </div>
      <div class="small-2 columns end">
        <button class="button postfix"><%= fa_icon('check') %> Join</button>
      </div>
    </div>

<% end %>

</div>
