<div class="unsubscription_form">

  <%= form_tag account_remove_subscription_path, method: :delete do %>
    <%= hidden_field_tag :subscription_id, subscription.id %>
    <div class="row collapse story">
      <div class="small-12 medium-12 columns">
        <p class="title">"<%= subscription.story %>"</p>
      </div>
      <div class="small-6 medium-12 columns">
        <p class="date-time">Last updated on <%= subscription.story.updated_at.strftime('%D') %></p>
        <p class="subscription"><i>subscribed to as <%= subscription.username %></i></p>
      </div>
      <div class="small-6 medium-12 columns large-12 text-right">
        <ul class="button-group radius">
          <li><%= link_to raw("#{fa_icon('arrow-circle-right')} Read"), read_current_story_path(subscription.story), class: 'button tiny success radius' %></li>
          <li><button class="button tiny alert radius"><%= fa_icon('close') %> Remove</button></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
