<h2>Available Stories </h2>
<p>The following stories are available for you to subscribe to. To subscribe, click the green arrow and choose a name for yourself.</p>

<% @available_stories.each do  | story | %>
  <div class="subscription_form <%= "no-chapters" if story.chapters.empty? %>">

    <%= form_tag account_add_subscription_path do %>
    <%= hidden_field_tag :story_id, story.id %>

      <div class="row collapse">
        <div class="small-12 columns">
          <h3 class="story-title"><%= story %></h3>
          <p>Created by <%= story.user.present? ? story.user.full_name : "Unknown"  %></p>
        </div>
      </div>

      <div class="row bottom-seperator collapse">
        <div class="small-10 columns">
          <%=raw truncate_html(story.about, length: 200, ommission: '...') %>
          <p>Currently <%= story.chapters.count %> chapters available...</p>

          <div class="row ">
            <div class="small-12 medium-4 columns">
              <span id="<%= story.id %>" class="show-subscribe button success radius small expand">Subscribe <%= fa_icon('angle-double-right') %></span>
            </div>
            <div class="small-12 medium-8 columns">
              <div id="<%= story.id %>" class="row hidden toggable collapse">
                <div class="small-8 columns ">
                  <%= text_field_tag :username, "", placeholder: 'Join story with username', class: 'postfix' %>
                </div>
                <div class="small-4 columns end">
                  <button class="button postfix"><%= fa_icon('check') %> Join</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<p>Not enough stories? <span id="show-all-stories" class="link-like">Click here</span> to show stories that are yet to have any chapters</p>
