<h2>Your Subscriptions</h2>
<p>You are currently following these stories. Read the chapters and make your opinion known.</p>

<% @subscriptions.each  do | sub | %>
<div class="story-details bottom-seperator">
  <div class="row">
    <div class="small-12 columns">
      <h3 class="story-title"><%= sub.story.name %></h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%=raw truncate_html(sub.story.about, {length: 300}) %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-6 columns">
      <ul>
        <li>Chatpers: <%= sub.story.chapters.count %></li>
        <% if sub.last_read_chapter_number %>
          <li>Last Read: Chapter <%= sub.last_read_chapter_number %></li>
        <% end %>

        <% if sub.last_voted_chapter_number %>
          <li>Last Voted: Chapter <%= sub.last_voted_chapter_number %></li>
        <% end %>

        <% if sub.next_chapter %>
          <li>Next Up: <%= link_to "Read Chapter #{sub.next_chapter.number} Now!", read_story_chapter_path(sub.story, sub.next_chapter.number) %></li>
        <% end %>
      </ul>

    </div>
    <div class="small-12 medium-6 columns">
      <div class="panel">
        <%= form_tag account_update_subscription_path(sub) do %>
        <label>
          <%= check_box_tag :send_email, 1, sub.send_email %>
          Receive Email Notifications
        </label>
          <%= submit_tag "Update", class: 'button tiny radius expand' %>
        <% end %>
      </div>

      <%= render partial: 'unsubscribe_buttons_form', locals: {subscription: sub} %>
    </div>
  </div>
</div>
<% end %>


<div class="row">
  <div class="small-12 columns text-right">
    <%= link_to raw("#{fa_icon('search')} Find New Stories"), account_available_stories_path, class: 'button expand tiny secondary' %>
  </div>
</div>
