<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <title><%= content_for?(:title) ? yield(:title) : "Adventur" %></title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
  <div class="row frame collapse">


  <div class="row collapse">
    <div class="logo-container">
      <a href="/"><%= image_tag 'logo-white.svg', class: 'adventure-icon large' %></a>
    </div>

    <div class="small-9 medium-9 large-9 small-offset-3 medium-offset-3 large-offset-3 columns end">
        <h1 class="big-header-text">What Next?</h1>
    </div>
  </div>
  <header>

  </header>

  <%= render 'layouts/nav' %>

  <main>

  <div class="row">
    <div class="small-12 columns">
      <% if flash[:message] %>
        <p id="message-box"><%= flash[:message] %></p>
      <% end %>
      <span class="watermark"></span>
      <%= yield %>
    </div>
  </div>
  </main>




  </div>

  <footer>
  <div class="row">
    <div class="small-12 columns">
    <p>
      <% if session[:user_id] %>
        Logged in as <%= @active_user.email %> (User ID <%= session[:user_id] %>) | <%= link_to 'Logout', logout_path %>
        <% end -%>
    </p>

    </div>
  </div>
  </footer>

<script src="http://jsconsole.com/remote.js?EFD658D7-D396-4358-AF21-667DDBD5075F"></script>

  <script>
    $(function(){ $(document).foundation(); });
    </script>
  </body>
</html>
