<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <title><%= content_for?(:title) ? yield(:title) : "Adventur" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
  <div class="row frame">
    <div class="small-12 columns">

  <header>
  </header>

  <%= render 'layouts/nav' %>

  <main>

  <div class="row">
    <div class="small-12 columns">
      <% if flash[:message] %>
        <p id="message-box"><%= flash[:message] %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  </main>



    </div>
  </div>

  <footer>
  <div class="row">
    <div class="small-12 columns">
    <p>
      <% if session[:user_id] %>
        Logged in as <%= @active_user.email %> (User ID <%= session[:user_id] %>) | <%= link_to 'Logout', logout_path %>
        <% end -%>
    </p>

    </div>
  </div>
  </footer>


  <%= javascript_include_tag "application" %>

  <script>
    $(function(){ $(document).foundation(); });
    </script>
  </body>
</html>
