<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Adventur" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      .frame {border:thin solid #ccc; background-color: #fff}
      body {background-color: #000}
    </style>
  </head>

  <body>
  <div class="row frame">
    <div class="small-12 columns">

  <header>
    <h1>Adventur</h1>
  </header>

  <%= render 'layouts/nav' %>

  <main>
  <div class="row">
    <div class="small-12 columns">
      <% if flash[:message] %>
        <p><%= flash[:message] %></p>
      <% end %>
      <%= yield %>

    </div>
  </div>
  </main>



    </div>
  </div>

  <footer>
  <div class="row">
    <div class="small-12 columns">
    <p>
      <% if session[:user_id] %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </p>

    </div>
  </div>
  </footer>

  </body>
</html>
