<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <title><%= content_for?(:title) ? yield(:title) : "What Next? // The Online Social Choose OUR Own Adventure Site" %></title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
    
    <div class="row frame collapse">

      <%= render 'layouts/header' %> 
      <%= render 'layouts/nav' %>
      
    <div class="show-for-small-only">


      <nav class="tab-bar"> 
        <div class="row collapse">
          <div class="small-10 columns">
          <section class="top-bar-section">
            <ul class="inline-list">   
              <li><%= link_to 'Home', "/" %></li>
              <li><%= link_to 'About', about_path %></li>
                <% if @active_user %>
                  <li><%= link_to 'Read', choose_story_path %></li>
                <% end %>
            </ul>
            </section>
          </div>
          <div class="small-2 columns">
             <section class="right-small"> <a class="right-off-canvas-toggle menu-icon scroller-up" href="#"><span></span></a></section>
          </div>
        </div>
      </nav>

      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
         <%= render 'layouts/menu_items' %>
        </ul>
      </aside>

        <a class="exit-off-canvas"></a>
      </div>

    <span class="watermark"></span>
    
    <main>
      <div class="row">
        <div class="small-12 columns">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </main>
    

    </div>
  </div>
</div>


<%= render 'layouts/footer' %>

  <script>
    $(function(){ $(document).foundation(); });
    </script>
  </body>
</html>
